body {
    font-family: 'Tahoma', sans-serif, Arial;
    font-weight: 400;
    font-size: 24px;
    color: #666;
    background-color:  #e7eded
    
}

a {
    text-decoration: none;
    color: inherit;
}

body.disable-scroll {
    overflow: hidden;
}

.content{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content{
    flex-grow: 9;
    display: flex;
    width: 700px;
    flex-direction: column;
    gap: 20px;
    height: 93vh;
}

#wrapper{
    padding: 1%;
    min-height: 100vh;  
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.order-status-select{
    padding: 8px;
}

@media (max-width: 768px) {

    #wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    aside {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }
}