.offer-button{
    display: inline-block;
    height: auto;
    background-color: #3686f9;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    max-width: 300px;
    height: auto;
    display: flex;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    border: none;
    height: 75px;
}

.offer-button:hover{
    background-color: #0650b7;
}

.offer-button::before{
content: "";
  display: block;
  width: 128px;
  height: 100%;
  background-image: url("../../img/icons/shopping.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto 0;
}

.offer-button>p{
    word-break: normal;
    margin: auto 0;
    font-size: 18px;
}

.delete-item-btn{
    width: 30px;
    height: 30px;
    background-color: #ff7070;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.delete-item-btn:hover{
    background-color: #ff4040;
}