.greet-card{
    width: auto;
    display: block;
    background-color:  #f1f2f4;
    border-radius: 10px;
    padding: 10px 5px;
    color: #666;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}