.login-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
    align-items: center;
    justify-content: center; 
}

.login-window{
    background-color: #f1f2f4;
    border-radius: 10px;
    width: 300px;
    height: 250px;
}
.login-window>form{
    width: 250px;
    padding-top: 5px;
    margin: 0 auto;

}

.login-window>form>input{
    width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 14px;
}

#login-button{
    display: inline-block;
    height: auto;
    background-color: #3686f9;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    max-width: 300px;
    height: auto;
    display: flex;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border: 0;
    font-size: 20px;
}

#login-button:hover{
    background-color: #0650b7;
}