#dynamic-modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#dynamic-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 280px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#dynamic-modal input {
    padding: 8px;
    width: 100%;
}
#dynamic-modal select {
    padding: 8px;
    width: 100%;
}
#dynamic-modal button {
    display: inline-block;
    background-color: #3686f9;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    max-width: 300px;
    height: auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border: 0;
    font-size: 20px;
}

#dynamic-modal button:hover{
    background-color: #0650b7;
}
